
.tab {
    --height: 50px;
    --border: 1px solid rgb(209 209 209);
}
.tab__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-left: var(--border);
    border-top: 2px solid red;
    border-bottom: var(--border);
}
.tab__item {
    position: relative;
    width: 100%;
    text-align: center;
    border-right: var(--border);
}
.tab__link {
    position: relative;
    height: var(--height);
    line-height: var(--height);
    display: inline-block;
    background-color: white;
    width: 100%;
    font-size: 14px;
}
.tab__link.on {
    color: red;
    height: calc(100% + 1px);
}
.tab__content {
	margin-top: 20px;
    display: none;
}

.tab__content.on {
    display: block;
}

img {
	width: 100%;
}
.reply__form {
	margin-bottom: 20px;
}
.reply__rating-list {
	margin-bottom: 10px;
}
.reply__textarea {
	resize: none;
	margin-bottom: 10px;
}
.reply__submit {
	float: right;
	padding: 5px 10px;
	background: black;
	color: white;
}
.reply__list {
	padding: 10px;
	background: #9bbbd4;
}
.reply__list::after{
	content: '';
	display: block;
	clear: both;
}
.reply__item, .reply__accom-item {
	display: grid;
	width: 70%;
	min-height: 100px;
	grid-template-columns: 8fr 2fr;
	column-gap: 10px;
	padding: 10px;
}
.reply__item {
	position: relative;
	background: white;
	margin-bottom: 10px;
	border-radius: 10px;
	clear: both;
}
.reply__item::after {
	border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 5px);
	transform: rotate(-90deg);
}
.reply__accom-item {
   	position: relative;
   	background: #fef01b;
   	margin-bottom: 10px;
   	border-radius: 10px;    
   	float: right;    	
}
.reply__accom-item::after {
	border-top: 10px solid #fef01b;
   	border-left: 10px solid transparent;
   	border-right: 10px solid transparent;
   	border-bottom: 0px solid transparent;
   	content: "";
   	position: absolute;
   	top: 50%;
   	transform: translateY(-50%);
   	left: -15px;
    transform: rotate(90deg);
}
     
.reply__accom-item {
	border: 0px 1px 1px 1px solid black;
}
     
.reply__info--content {
	overflow: hidden;
}
     
.reply__info--writer {
	display: flex;
	flex-direction: column;
	font-size: 11px;
}
     
.reply__info--addInfo {
	width: 100%;
	text-align: center;
	border: 1px solid blue;
	cursor: pointer;
}
    
.reply__order {
	cursor: pointer;
}
    
.reply__image {
	width: 30%;
}
    
/* room */
 
.room__list {
 	display: grid;
 	grid-template-columns: 1fr 1fr;
 	column-gap: 20px;
 	row-gap: 20px;
 	z-index: 999;
}
.room__item {
 	position: relative;
 	display: flex;
 	height: 200px;
 	padding: 10px;
 	color: white;
 	flex-direction: column;
 	justify-content: flex-end;
 	align-items: flex-end;
 }
 .room__item::before {
 	content: '';
 	position: absolute;
 	bottom: 0px;
 	right: 0px;
 	width: 100%;
 	height: 100%;
 	background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 10%,
     rgba(20, 20, 20, 0.25) 25%,
     rgba(20, 20, 20, 0.5) 50%,
     rgba(20, 20, 20, 0.75) 75%,
     rgba(20, 20, 20, 1) 100% );
     z-index: 800;
}
 .room__name, .room__price {
 	position: relative;
 	z-index: 900;
 	font-size: 16px;
}

.room__btns {
	position: relative;
	top: 10px;
	z-index: 900;
	height: 50px;
}
.room-info__btn {
	color: white;
}
 .room-res__btn {
 	background: #B22222;
 	color: white;
 	text-align: center;
 	border-radius: 10px;
 	padding: 10px 20px;
 	z-index: 900;
}
 
.room-res__btn--yes {
	background: #708090;    
}        
.room-res__btn--no {
	background: #A9A9A9; 
}
.room__detailInfo {
	overflow-y: auto;
	height: 200px;
	padding: 10px;
}
     
/* accom */
.accom {
	margin-bottom: 30px;
}
.accom__content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 10px;
	height: 500px;
}
.accom__address {
	font-size: 12px;
}
.accom__time {
	font-size: 12px;
}
.accom__info {
	background: #FFE4E1;
	overflow-y: auto;
	padding: 20px;
	height: inherit;
	font-size: 14px;
	border-radius: 10px;
	color: 606c76;
}
.accom__mainPoint {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* reply */
.reply__starImage {
	position: relative;
	left: -20px;
	transform:scale(0.7);
}
.reply__remove {
	cursor: pointer;
}