@charset "UTF-8";

table{
	width : 100%;
	margin: auto;
}
.inquirytable td {
	border: 1px solid rgb(192,192,192);
	border-collapse: collapse;
	padding: 5px;
}
.title_td{
	padding: 20px 10px 20px 25px;
}
.inquiry_title td{
	padding: 10px;
	background-color:#ff8080;
	color: white;
}
.inquirytable .inquiry_color{
	background-color:#ff8080;
	color: white;
}
textarea{
	width:100%; 
	height:400px; 
    resize:none;
}

td input[type=text],input[type=text]{
	width: 100%;
	height: 32px;
	border: 0px;
	border-radius: 5px;
	padding: 15px;
	margin: 15px 0px;
	background-color: rgb(233, 233, 233);
}
.upd_ins_label{
	display: block;
	height: 32px;
	border: 0px;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
	margin-top : 15px;
	background-color: #656D78;
	color: white;

}
h2{
	font-size:20pt;
	color: black;
	padding: 15px;
	margin: auto;
}
td img{
	max-width: 700px;
}
.default{
	width: 940px;
	display: flex;
	justify-content: space-around;
}
.contents{
	width: 700px;
	margin: 0px 20 0 20;
	text-align: center;
	justify-content: center;
	
}
.title{
	font-size: 18px;
	font-weight: bold;
	color: #747474;
}
.inner_td{
	border: 0px;
	padding: 10px 10px 10px 30px;
}

.event_img{
	width: 100%;
}
.search>input[type=text]{
	margin: 0 5 0 5;
}
.written-date{
	display: block;
	color: rgb(192,192,192);
	font-size: 14px;
}
input[type=button],input[type=submit]{
	width : 100px;
	height : 32px;
	padding : 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    text-align: center;
    background: #FF1A38;
    cursor: pointer;
}
.right_button{
	padding:5px 0px;
	text-align: right;
}
.pre_content{
	background-color: #e4e4e4;
	padding: 20px;
	height: 100%;
}
pre{
	word-wrap: break-word;
	white-space: pre-wrap;
}
.eventthumbimg{
	width: 100%;
	height: 200px;
	padding: 3px 0px;
}
/* 
<div style="width: 940px;">
	<div style="display: inline-block;
	width: 940px;
	background-color: #656D78;
	color: white;
	border-radius: 5px 5px 0px 0px;
	padding: 15px;
	font-size: 16px;">
		<pre style="word-wrap: break-word;
	white-space: pre-wrap;">"+ib.getQuestion()+"</pre>
	</div>
	<div style="display: inline-block;
	width: 940px;
	height: 400px;
	background-color: rgb(233, 233, 233);
	border-radius: 5px;
	padding: 15px;
	font-size: 16px;">
	<pre style="word-wrap: break-word;
	white-space: pre-wrap;">"+ib.getAnswer()+"</pre>
	</div>
</div>
 */