html, body {
    height: 100%;
    background: #E0E7E9;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding-left: 200px;
    min-height: 100%;
}
.section {
	background: white;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 800px;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    min-height: inherit;
    background: #2e2e2e;
    color: white;
}
.logo {
	text-align: center;
	margin-top: 50px;
}
.bindclib {
	position: absolute;
	width: 40%;
	left: 150px;
	top: 0px;
	transform: rotate(-45deg);
}
.nav__inner {
    margin-top: 20px;
}

.nav__item {
    text-align: center;
}
.nav__link {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    border-bottom: 2px solid #222222;

}
.nav__link:hover {
    background: white;
    color: red;
}
.nav__link.on {
    background: white;
    color: red;	
}

.nav-2dept__link {
	background: #3e3c3e;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    width: 90%;
    height: 30px;
    line-height: 30px;
    color: white;
}

.main {
	padding: 50px 0px 100px 0px;
}

.section__inner {
	padding: 0px 10px;
}

.accom-detail__btns {
	display: flex;
	justify-content: flex-end;
}

.accom-detail__btn {
	background: #2e2e2e;
	color: white;
	cursor: pointer;
}

.accom-detail__img {
	width: 100%;
}

.table__msg--import {
	color: red;
}

table {
	width: 100%;
	margin: 0 auto;
	color: #70757a;
	font-size: 12px;
}

table tr:not(tr:last-child) {
	border-bottom: 1px solid #ebebeb;
}

table th, table td {
	padding: 10px;
}

table th {
	font-weight: bold;
	vertical-align: middle;
	font-size: 13px;
}

table td {
	vertical-align: middle;
	font-size: 11px;
}

table.accom-insert__form th {
	width: 20%;
}

table input[type='text'] {
	width: 200px;
	border: 1px solid #ebebeb;
}

input[type='button'], input[type='submit'], button {
	background: #2e2e2e;
	color: white;
	border-radius: 5px;
	border: 0px;
	padding: 2px 10px;
	cursor: pointer;
	margin: 10px 2px;
	font-size: 16px;
	
}

select, 
input[type='text'],
input[type='button'],
input[type='submit'],
button {
	height: 30px;
}

.msg--import {
	color: red;
	font-size: 11px;
}