@charset "UTF-8";

.footer1 {
	margin-top : 100px;
	background: #747474;
	display: flex;
}
.footer__inner {
	width: 940px;
	margin: 30px auto;
	display: flex;
	justify-content: center;
	
}
.footer__logo {
	width: 120px;
	margin: 5px;
	display: flex;
}
.ul_box{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	margin: 5px;
}
.footer1 p{
	display: flex;
	flex-direction: row;
	margin: 5px auto;
	color: #D0D0D0;
}
.footer1 span {
    display: inline-block;
    width: 24px;
    text-align: center;
}
.ul_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}