@charset "UTF-8";

input{
	display: flex;
}

.div font{
	display: block;
	color: red;
	font-weight: bold;
	font-size: 8px;
}

h2{
	font-size: 18px;
	font-weight: bolder;
}

.edit{
	text-align: center;
	margin: 10 0;
}
.edit>a:link, .edit>a:visited {
	font-size: 14px;
     text-align: center;
     text-decoration: none;
     font-weight: bold;
}

.all{
	display:flex;
	width: 940px;
	justify-content: space-around;
	margin: auto;
}
.all:before{
}

.contents{
	width: 700px;
	display: block;
	justify-content: center;
}

.sidebar{
	width: 150px;
}

.garo{
	margin: 20 auto;
	display: flex;
	width: 300px;
	justify-content: center;
}


#right{
	float: right;
	display: flex;
	justify-content: center;
	height: 40;
	width: 400px;
	margin-bottom: 10;
}

#right select{
	width: 30%;
}

#right input{
	margin: 0;
}

#right input[type=text]{
	width: 50%;
	margin: 0 10;
}

#right input[type=submit]{
	width: 20%;
}

.div{
	width: 300px;
	margin: 20 auto;
}

.div div{
	display: flex;
}

.div input:not(input[type=button],input[type=submit],input[type=reset],input[type=radio]), select{
	border: 1px solid #2e3238;
	width: 300px;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	border-radius: 3px;
	opacity: 0.5;
	border-width: 1px;
	border-radius:0px;
	padding-left: 10;
	margin-top: 10;
}

#login_email, #login_pwd{
	background: white;
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 40;
}

#login_email{
  background-image: url(../images/email.PNG);
}

#login_pwd{
  background-image: url(../images/password.PNG);
}

#upload{
	padding-top: 7;
}

.div input:focus:not(input[button]){
  opacity: 1;
}

.display{
	display: none;
}
.err{
 font-size: 8px;
 color: red;
 font-weight: bold;
}

.height{
	margin-top: 100;
	display: block;
}

.board ul > li:first-child               {width:40%;} /*열 크기*/
.board ul > li:first-child +li           {width:40%;} /*열 크기*/
.board ul > li:first-child +li +li           {width:20%;} /*열 크기*/
    
.board ul:first-child li  {
	margin-top:20;
    background-color:#ff8080;
    font-weight:bold;
    font-size:12pt;
    color: white;
}


.board ul > li { 
    text-align:center;
    float:left;
    font-size:10pt;
    border-bottom:1px solid #ff0000;
    vertical-align:baseline;
    line-height: 2;
    color: black;
}  

.board ul:not(ul:first-child) > li:last-child { 
     background-color:#f0f0f0;
} 

.board ul:not(ul:first-child) > li:last-child:hover { 
     background-color:#e4e4e4;
}    
label{
	font-size:16px;
	font-weight: bold;
	text-align: left;
	display: inline-block;
	width: 100%;
}
input[type=file]{
	padding: 2 0 0 2;
}

input[type=button],input[type=submit],input[type=reset]{
	width: 300px;
	height: 40px;
	border-width:0px;
	border-radius:0px;
	text-align: center;
	display: block;
	margin: 20 auto;
} 
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover{
	background-color: #e4e4e4;
} 

input::placeholder{
	padding: 2 0 0 8;
}

table{
	margin-top:20;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

table tr{
	height: 40px;
}

table tr th {
    background-color:#ff8080;
    font-size:9pt;
    font-weight:bold;
    color: white;
    min-height: 30px;
    line-height: 3;
}


table tr td {
    vertical-align:middle;
    line-height: 2;
    color: black;
    font-size: 12px;
}


table tr td:not(table tr:last-child td){
    border-bottom:1px solid #ff0000;
}


select{
	margin-top: 20;
}

input[type=radio]{
	margin: 0 10;
}