@charset "UTF-8";
.edit{
	text-align: center;
	font-size:8px;
}
a:link, a:visited {
	padding: 0 10 0 10;
     text-align: center;
     text-decoration: none;
     font-weight: bold;
}

.all{
	width: 200px;
}
.div{
	margin-top: 10;
}

.div input:not(input[type=button]){
	border: 1px solid #2e3238;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	outline: none;
	border-radius: 3px;
	opacity: 0.5;
	border-width: 1px;
	border-radius:0px;

}
.email input{
  padding-left: 30px;
  background: white;
  background-image: url(../images/email.PNG);
  background-position: 5px center;
  background-repeat: no-repeat;
}

.div input:focus:not(input[button]){
  opacity: 1;
}

.password input{
  padding-left: 30px;
  background: white;
  background-image: url(../images/password.PNG);
  background-position: 5px center;
  background-repeat: no-repeat;
}

.display{
	display: none;
}
font,.err{
 font-size: 8px;
 color: red;
 font-weight: bold;
}

label{
	font-weight: bold;
	font-size: 8px;
}
input[type=file]{
	padding: 2 0 0 2;
}

input[type=button],input[type=submit],input[type=reset]{
	margin-top:10;
	width: 100%;
	height: 30px;
	border-width:0px;
	border-radius:0px;
} 
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover{
	background-color: #c0c0c0;
} 

input::placeholder{
	padding: 2 0 0 8;
}