@charset "UTF-8";
a:hover{
	text-decoration: none;
}

.sidebar{
	position:relative;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.5s ease;
    width: 200px;
    text-align: center;
}

.sidebar ul li a{
    display: block;
    border-top: 1px solid #ff0000;
    font-size: 16px;
    position: relative;
    line-height: 100px;
    font-weight: bolder;
}

.sidebar ul li:last-child{
    border-bottom: 1px solid #ff0000;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
	color:white;
    background:#ff0000;
    
}
